*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 200px;
    padding:40px 30px 70px;
    border-radius: 1.5rem;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    color: white;
    background-color: rgba(37, 34, 197, 0.781);
    padding: 17px 52px;
    border: none;
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
           /**top/right/buttom/left**/
    cursor: pointer;
    user-select: none;    
    position: relative;  
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url('To-Do-Img/images/unchecked.png');
    background-position: center;
    top: 12px;
    left: 8px;
}
 .checked{
    color: #555;
    text-decoration: line-through;
}
 .checked::before{
    background-image: url(To-Do-Img/images/checked.png);
 }
 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }
 ul li span:hover{
    background-color: #edeef0;
 }